@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body{
  text-align: center;
}

@media screen and (min-width: 900px){
.text h1{
font-family: 'Noto Sans JP', sans-serif;
  font-size: 65px;
  color: white;
}

.text h2{
  font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
    color: white;
    width: 100%;
    opacity: 0.7;
}

.text p{
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  text-align: left;
}
}

@media screen and (max-width: 899px){
.text h1{
font-family: 'Noto Sans JP', sans-serif;
  font-size: 56px;
  color: white;
}

.text h2{
  font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
    color: white;
    width: 100%;
    opacity: 0.7;
}

.text p{
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  text-align: left;
}
}
