@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.header h1{
font-family: 'Noto Sans JP', sans-serif;
  font-size: 65px;
  color: white;
}

.about p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  background-color: rgba(255,255,255,0.2);
}
