@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.about {
  animation: anim;
  animation-iteration-count: 1;
  animation-duration: 2.5s;
}

.header h1{
font-family: 'Noto Sans JP', sans-serif;
  font-size: 65px;
  color: white;
}

.about p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  background-color: rgba(255,255,255,0.2);
}

@keyframes anim {
    0% {
      opacity: 0;
    }
    37.5%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
