.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i{
  color: #FFFFFF;
  font-size: 3em;
  padding: 18px;
  transition: font-size 0.5s, color 0.5s;
}

.social-links i:hover{
  font-size: 6em;

}

#github:hover {
  color: black;
}

#linkedin:hover {
  color: #0083FF;
}

#twitter:hover {
  color: #00CDFF;
}
