@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");


.header-color a{

  color: #FFFFFF;
  font-size: 2em;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  font-family: 'Bree Serif', serif;
  transition: font-size 0.5s, color 0.5s;
}

.header-color a:hover{
  font-size: 4em;
  color: #7CC0C8;
}
